{{ define "main" }}
<article class="markdown book-post">
  <h1>{{ .Title }}</h1>
  
  <div style="margin-top: -10px; margin-bottom: 20px; font-size: 0.9em; color: #666;">
    {{ if .Params.status }}
      <span style="background: #e1f5fe; color: #0288d1; padding: 3px 8px; border-radius: 4px; margin-right: 10px; font-weight: bold;">
        📌 Status: {{ .Params.status }}
      </span>
    {{ end }}
    
    {{ if .Params.category }}
      <span style="background: #f5f5f5; color: #616161; padding: 3px 8px; border-radius: 4px; margin-right: 10px;">
        📁 {{ .Params.category }}
      </span>
    {{ end }}
    
    {{ if .Date }}
      <span>🗓 {{ .Date.Format "Jan 2, 2006" }}</span>
    {{ end }}
  </div>
  <hr />

  {{ .Content }}
</article>
{{ end }}